@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap'); /*import style from google API */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap'); /*import style from google API */


.employ{
    text-align: right;
}

label.name {
	width: 100px;
	float: left;
	text-align: left;
}

label.sname {
	width: 200px;
	float: left;
	text-align: left;
}

label.address {
    width: 115px;
    float: left;
    text-align: left;
}

label.eaddress {
    width: 150px;
    float: left;
    text-align: left;
}

label.contact {
    width: 180px;
    float: left;
    text-align: left;
}

label.misc {
    width: 120px;
    float: left;
    text-align: left;
}

label.emisc {
    width: 140px;
    float: left;
    text-align: left;
}

label.tmisc {
    width: 325px;
    float: left;
    text-align: left;
}

label.employ {
    width: 90px;
    float: left;
    text-align: left;
}

p.position {
    padding-left: 120px;
    font-size: 17px;
    color: red;
    max-width: 300px;
}


.table1 {
	border: 1px solid white;
	border-collapse: collapse;
	text-align: left;
}

.td1 {
	border: 1px solid white;
	text-align: left;
    padding: 10px;
}

label.table1 {
    width: 40px;
    float: left;
}

.td2 {
	border: 1px solid white;
	text-align: left;
    padding: 10px;
}

label.table2 {
    width: 125px;
    float: left;
}

div {
    padding-left: 15px;
}
.table2{
    border: 1px solid black;
}

/* NAVBAR CSS */
.navbar {
  overflow: hidden;
  background-color: #3498db;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #0f04aa;
  color: white;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
a.anchor {
  display: block;
  position: relative;
  top: -90px; /* this is your offset */
  visibility: hidden;
}
